
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


form label,
form input,
form select,
form button {
    margin-bottom: 15px;
}

button[type="button"],
button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"] {
    margin-bottom: 0;
}


#time_slots {
    margin-top: 10px;
    width: 100%;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%; 
    max-width: 100%;
}
.checkbox-item {
    width: 20%; 
    display: flex;
}

 /* Styles for the time slot display and remove button */

#time-slots-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-bottom: 10px;
}

.time-slot-item {
    display: flex;
    align-items: center;
    background-color: #f1f1f1; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.remove-button {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px; 
    margin-bottom: 0px;
}

.error{
    margin: 0;
    color: red;
    font-size: 0.6rem;
}