#admin-appointment-container {
  width: 100%;
  background-color: var(--background-color);

  --d-color-1: #de3333;
  --d-color-2: #02ff18;
  --d-color-3: #3c57e7;
  --d-color-4: #0049b2;
  --d-color-5: #4884db;
  --d-color-6: #086b98;
}

#patient-appointment-wrapper {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.patient-appointment {
  width: 95%;
  margin: 0 0 3vh auto;
}

/* ------------------ header (title) -------------------------- */

#patient-appointment-header {
  display: flex;
  flex-direction: column;
}

#patient-appointment-title {
  word-spacing: 0.5rem;
}

#patient-appointment-header>h6 {
  text-align: justify;
}

#patient-appointment-header>h6:last-child{
  font-weight: 600;
  color: var(--color-4);
  margin-top: 0.5rem;
}


/* ------------------ content 1 -------------------------- */

#patient-appointment-content1 {
  background-image: url(/national-e-clinic-portal/images/admin-dashboard/appointment-approval.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#patient-appointment-content1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(235 244 252 / 93%);
}

#btn-province-container {
  width: 80%;
  margin: 0 auto;
}

.btn-province {
  margin: 1.5rem 0;
  position: relative;
}

.province {
  color: var(--d-color-6);
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(63, 172, 233, 0.36) 0px 0px 0px 5px, rgb(18 81 210 / 40%) 0px 0px 0px 2px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.province:hover,
.province.active {
  box-shadow: none;
  border: 3px solid rgb(118 176 234);
  background-color: rgb(118 176 234);
}

/* ------------------ content 2 -------------------------- */

#patient-appointment-content2 {
  display: none;
  flex-direction: column;
}

#patient-appointment-content2>h4 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  color: var(--color-1);
  text-shadow: 3px -3px 3px var(--color-3);
}

#filter-container{
  padding: 1rem 0;
}

#filter-container>#filter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#filter-title{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#filter-title > i{
  font-size: 1.15rem;
}

#filter-title>p {
  margin: 0;
  font-weight: 600;
}

#filter-options{
  display: flex;
  gap: 3rem;
}

#filter-select select,
#filter-select input{
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--d-color-6);
  outline: none;
  background-color: rgb(134 183 254 / 64%);
  color: var(--d-color-6);
  height: 23px;
    padding-top: 0;
    padding-bottom: 0;
}

#filter-select input::placeholder {
  color: var(--d-color-6);
  opacity: 1;
}

#filter-select select:focus,
#filter-select input:focus{
  border-bottom-color: var(--color-1);
}

#filter-select{
  display: none;
}

#filter-select .col{
  display: none;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

#button-wrapper{
  padding-top: 5px;
  padding-bottom: 5px;
}

#button-wrapper>button{
  background-color: var(--d-color-6);
  font-size: 0.85rem;
  color: var(--color-2);
  width: 5.5rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: rgba(63, 172, 233, 0.36) 0px 0px 0px 5px, rgb(18 81 210 / 40%) 0px 0px 0px 2px;
  margin:0 7px;
  padding: 0.25rem 0;
}

#button-wrapper>button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#button-wrapper>button:enabled:hover{
  box-shadow: none;
}

/* ----------------- search result table ---------------- */
#table-container{
  display: none;
  margin-top: 1rem;
  width: 100%;
  overflow-x: auto;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgb(16 37 161 / 31%);
  border-right:1px solid var(--color-1);

  
  transition: all 1s ease; /* Smooth transition */
}

#table-container table{
  width: 100%;
    border-collapse: collapse;
    color: var(--d-color-6);
}


#table-container table th, #table-container table td {
    border: 1px solid var(--color-1);
    vertical-align: middle;
    white-space: nowrap; /* Prevent text wrapping */
}

#table-container table th{
  text-align: center;
  padding: 1rem;
  line-height: 2.5;
}

#table-container table td{
  line-height: 1;
  padding: 0.75rem;
    text-align: left;
}

/* Freeze the last column */
#table-container table th:last-child, #table-container table td:last-child {
  position: sticky;
  right: 0;
  background-color: var(--color-3);
  z-index: 2;
  /* box-shadow: 0px 0px 5px 0px rgb(16 37 161 / 31%); */
}

#table-container table th:last-child.unfreeze, #table-container table td:last-child.unfreeze{
  position: relative;
  background-color: transparent;
}

#table-container table tr td:last-child > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}

#table-container table tr td:last-child > div>div{
  padding: 0.5rem;
  color: var(--color-2);
  border-radius: 0.3rem;
  width: 6.1rem;
  text-align: center;
  vertical-align: middle;
  word-spacing: 2px;
}

#table-container table .btnApprove{
  background-color: var(--d-color-5);
}

#table-container table .btnReject{
  background-color: var(--d-color-1);
}

#table-container table .btnApprove:not(.disabled):hover{
  background-color: var(--color-2);
  color: var(--d-color-5);
  cursor: pointer;
}

#table-container table .btnApprove.disabled,
#table-container table .btnReject.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

#table-container table .btnReject:not(.disabled):hover{
  background-color: var(--color-2);
  color: var(--d-color-1);
  cursor: pointer;
}

#table-container table tfoot {
  display: none;
  width: 100%;
}

#table-container table tfoot td {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  color: var(--d-color-1);
}

/* -------------------table scroll bar ----------------- */


#table-container::-webkit-scrollbar {
  display: none; /* For WebKit browsers */
}


/* Webkit-based browsers */
#table-container:hover::-webkit-scrollbar {
  display: block; /* Show scrollbar on hover */
  width: 10px;
}

#table-container::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 8px;
}

#table-container::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--color-4),var(--d-color-6));
  border-radius: 8px;
  border: 2px solid var(--background-color);
}

#table-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg,var(--d-color-6), var(--color-4));
}

/* --------------- object validation error -------------------------- */
.error-message {
  display: none;
  color: var(--d-color-1);
  font-size: 0.8rem;
}