* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --header-height: 10vh;
    --color-1: #1025a1;
    --color-2: #ffffff;
    --color-3: #999999;
    --color-4: #56aeff;
    --color-5: #000000;
    --color-6: #333333;
    --color-7: #dddddd;
    --color-8: #1025a152;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#create-profile {
    width: 70%;
    min-height: calc(90vh - var(--header-height));
    margin: 4.3vh auto;
    background-color: var(--color-2);

}

#form-wrapper {
    width: 100%;
    border-radius: 0.7rem;
    padding: 2.5rem;
    box-shadow: inset 0px 0px 13px var(--color-1);
    background-color: var(--color-3);
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    justify-content: center;
}

#image-container {
    width: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--color-8), var(--color-8)), url(/national-e-clinic-portal/images/create-profile/doctor-with-patient.jpeg);
}

#form-container {
    width: 50%;
    padding: 1rem;
}

#form-container h1 {
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--color-2);
}

#form-container form {
    display: flex;
    flex-direction: column;
}

#form-container label {
    color: var(--color-1);
    padding: 0.625rem 0;
}

#form-container input,
#form-container select {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--color-1);
    font-size: 1.1rem;
    outline: none;
    transition: border-color 0.3s;
}

#form-container input,
#form-container select:valid {
    color: var(--color-2);
}


#form-container input:focus,
#form-container select:focus {
    border-bottom-color: var(--color-7);
}

input::placeholder ,
#form-container select:invalid,
input[type="date"]:invalid::-webkit-datetime-edit{
    color: var(--color-7);
    opacity: 0.75;
    font-size: 0.85rem;
}

select option {
    background-color: #081b29;
    color: #0ef;
    font-size: 1.1rem;
}
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    filter: invert(0.8);
}

input[type="date"].date-selected::-webkit-calendar-picker-indicator {
filter: invert(1);
  }


#form-container button {
    width: 100%;
    height: 2.8rem;
    background: transparent;
    border: 0.5px solid var(--color-1);
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-2);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
    margin: 1.25rem 0 0;
}

#form-container button:hover {
    background-color: var(--color-1);
}

#form-container button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(var(--color-1), var(--color-3), var(--color-1), var(--color-3));
    z-index: -1;
    transition: top 0.5s;
}

#form-container button:hover::before {
    top: 0;
}

#confirmation-message {
    margin-top: 20px;
    text-align: center;
    color: #28a745;
}

.error {
    margin: 0;
    color: red;
    font-size: 0.6rem;
}

