* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header-wrapper {
  width: 90%;
  margin: 0 auto;
  flex-shrink: 0;
}

/* --------------- logo & nav bar ------------- */

#header-container {
  height: 100vh;
  background-color: #1025a1;
  padding: 0px 0px 30px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#header-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-wrapper header .logo {
  display: flex;
  align-items: center;
}

#header-wrapper header .logo img {
  width: 150px;
}

#header-wrapper header .nav {
  display: flex;
  align-items: center;
}

#header-wrapper header .nav .nav-item {
  padding: 15px 5px;
  margin: 0 25px;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#header-wrapper header .nav .nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(60deg, #56aeff, #ffffff, #56aeff);
  background-size: 100%;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

#header-wrapper header .nav .nav-item:hover::after,
#header-wrapper header .nav .nav-item.active::after {
  transform: scaleX(1);
  transform-origin: right;
}

#header-wrapper header .nav .nav-item:hover,
#header-wrapper header .nav .nav-item.active {
  color: #56aeff;
}

/* -------------- nav - dropdown ----------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
  min-width: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropdown-content>a {
  color: #333;
  display: block;
  padding: 10px;
  font-size: 0.8rem;
  transition: background-color 0.2s ease;
}

.dropdown-content>a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown.show .dropdown-content {
  display: block;
}


/* -------------------  content-and-carousel ------------------ */

#content-and-carousel {
  flex-grow: 1;
  background-color: #ffffff;
  overflow-y: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

#content-and-carousel #carousel-container {
  width: 50%;
  height: 100%;
}

#content-and-carousel #carousel-container .carousel-inner {
  height: 100%;
  width: 100%;
}

#content-and-carousel #carousel-container .carousel-inner .carousel-item {
  height: 100%;
}

#content-and-carousel #carousel-container .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

#content-and-carousel #carousel-container:hover .carousel-inner .carousel-item img {
  transform: scale(1.2);
}

/* ----------------   content ------------------ */

#content-and-carousel #content-wrapper {
  width: 50%;
  height: 100%;
}

#content-wrapper #main-content {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content-wrapper #main-content .blob {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  color: #1025a1;
}

#content-wrapper #main-content .button-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 4%;
}

#content-wrapper #main-content .button-wrapper>a {
  width: 37%;
  text-align: center;
}

#content-wrapper #main-content .button-wrapper .button {
  padding: 25px 30px;
  color: white;
  background-color: #56aeff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

#content-wrapper #main-content .button-wrapper .button:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

#content-wrapper #main-content .button-wrapper #btn-clinic-data {
  background-color: rgba(0, 0, 0, 0.4);
}


/* --------------------  getting started ----------------- */

#getting-started {
  height: 100vh;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#getting-started .slogan {
  text-transform: uppercase;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
}

#getting-started #getting-started-title {
  font-size: 3.15rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

#getting-started #getting-started-content {
  width: 740px;
  margin: 0 auto 70px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.4;
}

#getting-started .icon-wrapper {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 0 auto;
  max-width: 95%;
}

#getting-started .icon-wrapper .icon {
  text-align: center;
  width: 18%;
}

#getting-started .icon-wrapper .icon i {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
  line-height: 75px;
  border-radius: 50%;
  background: white;
  font-size: 30px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
  color: #1025a1;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

#getting-started .icon-wrapper .icon i:hover {
  background: #1025a1;
  color: white;
}

#getting-started .icon-wrapper .icon p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
}


/* -------------------- How it works ------------------------ */

#how-to-work {
  height: 139vh;
  background: url('../images/clinic-staff.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 6.5vh 0;
  color: white;
  z-index: 1;
  overflow: hidden;
}

#how-to-work::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#how-to-work #how-to-work-title {
  font-size: 3.15rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

#how-to-work #how-to-work-content {
  text-align: center;
  line-height: 1.2;
  font-size: 1.25rem;
  margin-bottom: 30px;
  color: white;
}

#grid-wrapper {
  width: 90%;
  margin: auto;
}

#grid-wrapper>div>div {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  color: #1025a1;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#grid-wrapper>div>div:hover {
  background-color: #1025a1;
  color: #fff;
  transform: translateY(-8px);
}

#grid-wrapper>div>div>div>i {
  display: inline-block;
  padding: 0.9rem;
  font-size: 2rem;
  color: #1025a1;
  transition: color 0.3s ease;
}

#grid-wrapper>div>div:hover>div>i {
  color: #fff;
}

#grid-wrapper>div>div>.title {
  padding-top: 0.35rem;
  padding-bottom: 0.9rem;
  font-size: 1.3rem;
  font-weight: 600;
}

#grid-wrapper>div>div>.content {
  font-size: 1rem;
  padding-bottom: 2.5rem;
  letter-spacing: 1px;
  height: 20vh;
}

#grid-wrapper>div>div>.learn-more {
  margin-bottom: 0.4rem;
}

#grid-wrapper>div>div>.learn-more>a {
  border-bottom: 1px solid #1025a1;
  color: #1025a1;
  padding-bottom: 0.3rem;
  transition: border-color 0.3s ease, color 0.3s ease;
}

#grid-wrapper>div>div:hover>.learn-more>a {
  border-color: #fff;
  color: #fff;
}

/* ---------------------- why choose ------------------------ */

#why-choose {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

#why-choose #why-choose-title {
  font-size: 3rem;
  color: #1025a1;
}

#why-choose #why-choose-content {
  width: 80%;
  height: 70%;
  padding: 1rem;
}

.accordion-group {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-item {
  position: relative;
  flex: 1 1 25%;
  overflow: hidden;
  transition: flex 0.3s ease;
  cursor: pointer;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 10px 6px #999;
}

.accordion-item .accordion-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: #fff;
  color: #1025a1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.17rem;
}

.accordion-item .accordion-overlay h4 {
  font-size: 2rem;
  margin: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.accordion-item .accordion-overlay h3 {
  font-size: 1.84rem;
  margin: 0;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  word-spacing: 0.5rem;
}

.accordion-item .accordion-content{
  display: none;
  width: 100%;
  height: 100%;
}

.accordion-item.expanded {
  flex: 1 1 100%;
}

.accordion-item.expanded .accordion-overlay {
  opacity: 0;
}

.accordion-item.expanded .accordion-content {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.accordion-item.expanded:first-child .accordion-content {
  background-image: url('../images/why_choose1.jpeg');
}

.accordion-item.expanded:nth-child(2) .accordion-content {
  background-image: url('../images/why_choose2.jpg');
}

.accordion-item.expanded:nth-child(3) .accordion-content {
  background-image: url('../images/why_choose3.jpg');
}

.accordion-item.expanded:nth-child(4) .accordion-content {
  background-image: url('../images/why_choose4.jpg');
}

.accordion-item .article {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  color: #1025a1;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.accordion-item.expanded .article{
  display: block;
}

.article h2 {
  margin-bottom: 1rem;
}


.article img {
  width: 80px;
  height: auto;
  margin: 0 0 20px 10px;
}

.article p{
  display:none
}

.accordion-item.expanded .article p{
  display: block;
  max-width: 100%;
}


/* ----------------------------- footer ------------------------ */

footer {
  padding: 3vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  background-color: #1025a1;
}

footer .container{
  width: 80%;
  padding: 1vh 0;
}

footer .container .row #logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .row #logo img {
  width: 15vw;
}

#quick-link,
#contact-info,
#help{
  display: flex;
  justify-content: center;
}

.col-3 ul li {
  margin-bottom: 15px;
}

.col-3 ul li i{
  margin-right: 0.7vw;
  color: #56aeff;
}

.col-3 ul li a{
  font-size: 1rem;
  color:#56aeff;
}

.col-3 ul li:hover a,
.col-3 ul li:hover i{
  color:#999;
}

.col-3 ul li:first-child{
  color:#fff;
}

/* ---------------- social-media ---------------- */

#social-media{
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-media>.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
}

#social-media>.icon-wrapper>i {
  width: 4vh;
  height: 4vh;
  text-align: center;
  line-height: 4vh;
  font-size: 2vh;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#social-media>.icon-wrapper>i:hover {
    font-size: 3.2vh;
}

#social-media>.icon-wrapper>#facebook:hover {
  color: #1877F2;
}

#social-media>.icon-wrapper>#twitter:hover {
  color: #000000;
}

#social-media>.icon-wrapper>#instagram:hover {
  background: linear-gradient(-135deg, #833ab4, #c13584, #fd1d1d, #f77737, #fcaf45);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#social-media>.icon-wrapper>#youtube:hover {
  color: #FF0000;
}

#social-media>.icon-wrapper>#pinterest:hover {
  color: #E60023;
}

#social-media>.icon-wrapper>#linkedin:hover {
  color: #0A66C2;
}

/* ------------- copy-right ------------- */

#copyright>div {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.1rem;
  text-align: center;
}

#copyright>div>a,
#copyright>div>a:visited {
  color: #56aeff;
}

#copyright>div>a:hover{
  color: #fff;
}
