* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;

}

:root {
  --header-height: 10vh;
  --color-1: #1025a1;
  --color-2: #ffffff;
  --color-3: #999999;
  --color-4: #56aeff;
  --color-5: #000000;
  --color-6: #333333;
  --color-7: #dddddd;
  --color-8: #0ef;
  --color-9: #081b29;
  --color-10: #f4f4f4;
  --color-11: #ff0000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-2);
}

.login-container {
  width: 60%;
  height: 83vh;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid var(--color-4);
  box-shadow: 0 0 25px var(--color-4);
  overflow: hidden;
  position: relative;
}

/* --------------- form ----------------- */

.login-wrapper .login-container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-box h2 {
  font-size: 2rem;
  color: var(--color-1);
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 3.125rem;
  background: transparent;
  margin: 1.5625rem 0;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-1);
  padding-right: 1.5rem;
  font-size: 1rem;
  color: var(--color-1);
  font-weight: 500;
  transition: .5s;

}

.input-box input:focus,
.input-box input:valid,
.input-box select:focus,
.input-box select:valid {
  border-bottom-color: var(--color-4);
  color: var(--color-4);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--color-1);
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box select:focus~label,
.input-box select:valid~label {
  top: -0.1rem;
  font-size: 0.75rem;
  color: var(--color-4);
}

.input-box>i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--color-1);
  transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {
  color: var(--color-4);
}


/* login-form */

.login-wrapper .login-container .form-box.login {
  left: 0;
  padding: 0 3.75rem 0 2.5rem;

}

.login-wrapper .login-container .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--display-rate));

}

.login-wrapper .login-container.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--hidden-rate));
}

.pwd-forgot-remember {
  margin: 1.5625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pwd-forgot-remember #pwd-forgot .pwd-forgot-link,
.pwd-forgot-remember #remember-me {
  font-size: 0.8rem;
  color: var(--color-4);
  font-weight: bold;
}

.pwd-forgot-remember #remember-me,
.pwd-forgot-remember #pwd-forgot {
  display: flex;
  align-items: center;
}

.pwd-forgot-remember #remember-me {
  gap: 0.2rem;
}

.pwd-forgot-remember #remember-me #remember-check,
.pwd-forgot-remember #remember-me #lbl-remember-me {
  cursor: pointer;
}

.pwd-forgot-remember #pwd-forgot .pwd-forgot-link {
  text-decoration: underline;
}

#nameAndPwdError {
  text-align: center;
}


/* register form */
.login-wrapper .login-container .form-box.register {
  right: 0;
  padding: 0 2.5rem 0 3.75rem;
  pointer-events: none;
}


.login-wrapper .login-container.active .form-box.register {
  pointer-events: auto;
}


.login-wrapper .login-container .form-box.register .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--display-rate));

}

.login-wrapper .login-container.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.1s * var(--hidden-rate));
}

#signupForm {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 0 1rem 0 0;
  transition: all 1s ease;
  /* Smooth transition */
}

#scroll-container::-webkit-scrollbar {
  display: none;
  /* For WebKit browsers */
}


/* Webkit-based browsers */
#scroll-container:hover::-webkit-scrollbar {
  display: block;
  /* Show scrollbar on hover */
  width: 10px;
}

#scroll-container::-webkit-scrollbar-track {
  background: var(--color-10);
  border-radius: 8px;
}

#scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--color-4), var(--color-9));
  border-radius: 8px;
  border: 2px solid var(--color-10);
}

#scroll-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, var(--color-1), var(--color-4));
}


.invisible-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

.invisible-scrollbar {
  scrollbar-width: none;
  /* For Firefox */
}

/* -------------------- form - button ------------------- */

.login-wrapper .login-container .btn {
  position: relative;
  width: 100%;
  height: 2.8rem;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-2);
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.login-wrapper .login-container .btn::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(var(--color-1), var(--color-4), var(--color-9), var(--color-8));
  z-index: -1;
  transition: .5s;
}

.login-wrapper .login-container .btn:hover::before {
  top: 0;
}

/* ------------ terms & condictions and privacy policy ------------- */
#agreement {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#agreement>a {
  color: var(--color-1);
}


/* --------------- link to redirect login or register -------------- */

.login-wrapper .login-container .form-box .logreg-link {
  font-size: 0.9rem;
  color: var(--color-1);
  text-align: center;
  margin: 1.25rem 0 0.625rem;
}

.login-wrapper .login-container .form-box .logreg-link p a {
  color: var(--color-4);
  font-weight: 900;
  text-decoration: underline;
}


/* ------------------ welcome and slogan ----------------- */

.login-wrapper .login-container .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login-wrapper .login-container .info-text h2 {
  font-size: 1.75rem;
  color: var(--color-2);
  line-height: 1.3;
  text-transform: uppercase;
}

.login-wrapper .login-container .info-text p {
  font-size: 1rem;
  color: var(--color-2);
  font-style: italic;
}

/* login - welcome and slogan */

.login-wrapper .login-container .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 2.5rem 6rem;
}

.login-wrapper .login-container .info-text.login p {
  padding-left: 4rem;
}

.login-wrapper .login-container .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--display-rate));
}

.login-wrapper .login-container.active .info-text.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--hidden-rate));
}

/* register - welcome and slogan */

.login-wrapper .login-container .info-text.register {
  left: 0;
  text-align: left;
  padding: 0 0 6rem 2.5rem;
  pointer-events: none;
}

.login-wrapper .login-container.active .info-text.register {
  pointer-events: auto;
}

.login-wrapper .login-container .info-text.register p {
  padding-right: 7rem;
}

.login-wrapper .login-container .info-text.register .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--display-rate));
}

.login-wrapper .login-container.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.1s * var(--hidden-rate));
}


/* login - animate colored section */

.login-wrapper .login-container .bg-animate-login {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 115%;
  height: 125%;
  background: linear-gradient(45deg, var(--color-1), var(--color-4));
  border-bottom: 1px solid var(--color-4);
  transform: rotate(13deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 2s;

}

.login-wrapper .login-container.active .bg-animate-login {
  transform: rotate(0) skewY(0);
  transition-delay: .5s;
}


/* register - animate colored section */

.login-wrapper .login-container .bg-animate-register {
  position: absolute;
  top: 100%;
  left: 37%;
  width: 115%;
  height: 210%;
  background: var(--color-2);
  border-top: 1px solid var(--color-4);
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: .5s;
}

.login-wrapper .login-container.active .bg-animate-register {
  transform: rotate(-8deg) skewY(-51deg);
  transition-delay: 2s;
}


/* ------------ form validation error --------------- */
.error-message {
  display: none;
  color: var(--color-11);
  font-size: 0.8rem;
  /* margin-top: 5px; */
}



/* --------------- password information -------------------- */
#password-info {
  font-size: 0.75rem;
  padding-top: 0.1rem;
  color: var(--color-6);
  opacity: 0.75;
  display: flex;
  gap: 0.2rem;
}

#password-info>p {
  margin-bottom: 0;
}

#password-info>i {
  font-size: 1rem;
}



/* ------------------- admin-code-modal ---------------- */

#adminCodeDiv {
  display: none;
}