* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --header-height: 10vh;
    --color-1: #1025a1;
    --color-2: #ffffff;
    --color-3: #999999;
    --color-4: #56aeff;
    --color-5: #000000;
    --color-6: #333333;
    --color-7: #dddddd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* -------------------------- title and intro section --------------- */

#clinic-details-container {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/national-e-clinic-portal/images/see-clinic-details/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clinic-details-title-and-intro {
    width: 90%;
    height: 80%;
    margin: auto;
}

#title-intro-container {
    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    max-width: 50%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

#clinic-details-title {
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    padding: 0 2vw;

}

#clinic-details-title>h1:first-child {
    text-align: start;
}

#clinic-details-title>h1:last-child {
    text-align: end;
}

#clinic-details-intro {
    padding: 0 2vw 0 2vw;
    text-align: justify;
    color: #1025a1;
}

#clinic-details-intro>ul {
    list-style-type: none;
}

#clinic-details-intro>ul>li {
    padding-bottom: 4vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

#clinic-details-intro>ul>li>i {
    margin-right: 0.5rem;
    font-size: 1.8rem;
    vertical-align: middle;
    font-weight: 600;
}

/* ------------- selection criteria section ------------- */

#clinic-detail-selections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--color-2);
}

#province-selection {
    max-width: 60%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh 0 0;
}

#province-selection>#select-province-title {
    display: flex;
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
    align-items: center;
    gap: 1rem;
}

#province-selection>#select-province-title>h1 {
    margin: 0;
    padding: 0;
}

#province-selection>#select-province-title>i {
    color: var(--color-1);
    font-size: 1.5rem;
}

.fade-down {
    animation: fade-down 1.5s infinite linear;
}

@keyframes fade-down {
    0% {
        transform: translateY(-5px);
        opacity: 1;
    }

    33.3% {
        transform: translateY(0px);
    }

    66.6% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
        opacity: 0;
    }
}



#province-selection>#sl-map {
    height: 100%;
    padding-top: 2vh;
}

#province-selection>#sl-map>svg {
    height: 100%;
    width: auto;
    filter: drop-shadow(0px 0px 10px var(--color-4));
}

svg #Sri_Lanka path {
    fill: var(--color-7);
    stroke: var(--color-6);
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s;
    cursor: pointer;
    transition: fill 0.3s, stroke 0.3s;
}

svg #Sri_Lanka path:hover,
svg #Sri_Lanka path.selected {
    fill: var(--color-1);
    stroke: var(--color-2);
}

svg #Sri_Lanka text {
    font-size: 0.8rem;
    fill: var(--color-6);
    pointer-events: none;
    transition: fill 0.3s;
}

svg #Sri_Lanka path:hover+text,
svg #Sri_Lanka path.selected+text {
    fill: var(--color-2);
}


#other-selection {
    max-width: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#other-selection>#search-heading-and-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 85%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-7);
    border-radius: 1rem;
}

#other-selection>#search-heading-and-form>h1 {
    color: var(--color-1);
    width: 90%;
    text-align: center;
}

#other-selection>#search-heading-and-form>form {
    width: 90%;
}

#other-selection>#search-heading-and-form>form>.form-field {
    margin: 4.5vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#other-selection>#search-heading-and-form>form>.form-field>label {
    font-size: 1rem;
    font-weight: 600;
}

#other-selection>#search-heading-and-form>form>.form-field>select>option {
    font-size: 0.9rem;
}

#other-selection form select {
    outline: none;
    background-color: var(--color-2);
    font-size: 0.9rem;
    height: 1.75rem;
    border-radius: 0.2rem;
}

#other-selection>#search-heading-and-form>form>.form-field:last-child>#button-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#other-selection>#search-heading-and-form>form>.form-field:last-child>#button-wrapper>button {
    padding: 0.5rem 0.5rem;
    width: 6vw;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: var(--color-1);
    color: var(--color-2);
}

#other-selection>#search-heading-and-form>form>.form-field:last-child>#button-wrapper>button:not(:disabled):hover {
    cursor: pointer;
    color: var(--color-1);
    background-color: var(--color-2);
}

#other-selection>#search-heading-and-form>form>.form-field:last-child>#button-wrapper>button:disabled{
    opacity: 0.7;
}

/* --------------- search result ----------- */


#selected-clinic-info-container{
    width: 85%;
    margin: 0 auto;
    background-color: var(--color-2);
    padding: 5vh 0;
}

#selected-clinic-info-title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
    padding-bottom: 1vh;
    position: relative;
}

#selected-clinic-info-title>h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.15rem;
    background: var(--color-3);
    box-shadow: 0px 3px 8px 0px var(--color-3);
    position: absolute;
    bottom: -0.5vh;
    left: 0;
}

#not-selected-msg{
    font-size: 1rem;
    text-align: center;
    display: block;
    padding-top: 5vh;
    color: var(--color-3);
}

#selection-criteria{
    display: none;
    font-size: 0.85rem;
    flex-direction: column;
    gap: 2vh;
    padding: 5vh 0 2vh;
    color: var(--color-1);
}

#table-container{
    display: none;
    max-width: 80%;
    margin: 5vh auto;
}

#clinicTable{
    color: var(--color-7);
    background-color: var(--color-1);
    border-collapse: collapse;
    max-width: 100%;
}

#clinicTable thead{
    border-bottom: 2.5px solid var(--color-3);
}

#clinicTable th,
#clinicTable td {
    width: 3.33%; 
    text-align: center; 
    vertical-align: middle;
}

#clinicTable th {
    font-size: 1.2rem;
    font-weight: bold;
    height: 3.7rem;
}

#clinicTable td {
    font-size: 1rem;
    height: 3.2rem;
}

