* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --header-height: 10vh;
    --color-1: #1025a1;
    --color-2: #ffffff;
    --color-3: #999999;
    --color-4: #56aeff;
    --color-5: #000000;
    --color-6: #333333;
    --color-7: #dddddd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#clinic-details-container{
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/national-e-clinic-portal/images/see-clinic-details/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clinic-details-title-and-intro{
    width: 90%;
    height: 80%;
    margin: auto;
}

#title-intro-container{
    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    max-width: 50%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

#clinic-details-title{
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    padding: 0 2vw;
    
}

#clinic-details-title > h1:first-child{
    text-align: start;
}

#clinic-details-title > h1:last-child{
    text-align: end;
}

#clinic-details-intro{
        padding: 0 2vw 0 2vw;
        text-align: justify;
        color: #1025a1;
    }

    #clinic-details-intro > ul{
        list-style-type: none;
    }
    #clinic-details-intro > ul >li{
        padding-bottom: 4vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    #clinic-details-intro > ul >li > i{
        margin-right: 0.5rem;
        font-size: 1.5rem;
        vertical-align: middle;
    }


/* #clinic-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--color-2);
}

#clinic-details-title {
    display: flex;
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
    align-items: center;
    gap: 1rem;
}

#clinic-details-title>h1 {
    font-size: 2.7rem;
    margin: 0;
    padding: 0;
}

#clinic-details-title>i {
    color: var(--color-1);
    font-size: 2.7rem;
}

#sl-map {
    height: 108%;

}

#sl-map>svg {
    height: 100%;
    width: auto;
    filter: drop-shadow(0px 0px 15px var(--color-4));
}

svg #Sri_Lanka path {
    fill: var(--color-7);
    stroke: var(--color-6);
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s;
    cursor: pointer;
}

svg #Sri_Lanka path:hover {
    fill: var(--color-1);
    stroke: var(--color-2);
}

svg #Sri_Lanka text {
    font-size: 0.8rem;
    fill: var(--color-6);
    pointer-events: none;
    transition: fill 0.3s;
}

svg #Sri_Lanka path:hover+text {
    fill: var(--color-2);
} */


