#support-container {
    width: 90%;
    margin: 9vh auto;
}

#support-container>.row>div:first-child {
    margin-top: 2rem;
}

#support-container>.row>div:nth-child(3) {
    margin-top: 8rem;
}

/* ----------------- get-in-touch ----------------- */

#get-in-touch {
    height: 105%;
    width: 110%;
    display: flex;
    flex-direction: column;
}

#get-in-touch #git-title p {
    letter-spacing: 0.05rem;
    font-size: 3.5rem;
    margin: 0;
    line-height: 3.5rem;
    padding-bottom: 0.6rem;
    font-weight: 600;
    color: var(--color-1);
    text-shadow: 3px -3px 3px var(--color-3);
}

#get-in-touch #git-slogan p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--color-3);
    letter-spacing: 0.05rem;
}

#get-in-touch #connect-details {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#get-in-touch #connect-details>.row {
    height: 100%;
    width: 100%;
}

#get-in-touch #connect-details #connect-l,
#get-in-touch #connect-details #connect-m,
#get-in-touch #connect-details #connect-r {
    background-color: var(--color-7);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
}

#get-in-touch #connect-details .connect {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--color-3);
    background-color: var(--color-2);
}

#get-in-touch #connect-details .connect a {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--color-4);
    word-break: break-word;
    overflow-wrap: anywhere;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

#get-in-touch #connect-details .connect a:hover {
    background-color: var(--color-4);
    color: var(--color-2);
}

#get-in-touch #connect-details .connect a:hover i {
    color: var(--color-2);
}

#get-in-touch #connect-details .connect a i {
    font-size: 1.5rem;
    color: var(--color-4);
}

#get-in-touch #connect-details .command {
    font-size: 1rem;
    color: var(--color-3);
    font-weight: 500;
}

/* ----------------- image ------------------- */

#image-container img {
    z-index: -10;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 85vh;
    width: auto;
}

/* ---------------- request-submission ---------------- */

#support-main-title {
    color: var(--color-1);
}

#support-main-content {
    font-size: 1.2rem;
    color: var(--color-3);
    letter-spacing: 0.05rem;
}

#request-submission {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: var(--color-5);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--color-3);
    border-radius: 0.5rem;
}

#support-title {
    padding: 1.2rem 0;
    color: var(--color-1);
}


#support-content .request-form {
    padding: 0 2rem;
    margin: auto;
}

#support-content .form-field {
    margin-bottom: 1.25rem;
}

.form-field label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
}

.form-field.required>label:after {
    margin-left: 0.2rem;
    color: var(--color-8);
    content: "*";
    font-size: 1rem;
    font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid var(--color-7);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-field input[type="text"]:focus,
.form-field input[type="email"]:focus,
.form-field textarea:focus {
    border-color: var(--color-4);
    outline: 0;
}

.form-field textarea {
    resize: vertical;
    min-height: 14vh;
}

.form-field .hint {
    font-size: 0.82rem;
    color: var(--color-3);
}

.form-field .upload-dropzone {
    border: 2px solid var(--color-7);
    padding: 1.2rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 0.8rem;
}

.form-field .upload-dropzone input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.upload-dropzone span {
    color: var(--color-7);
    display: inline-block;
    line-height: 1.5rem;
    padding: 0.5rem;
}

.upload-dropzone span a {
    text-decoration: none;
    color: var(--color-1) !important;
    background-color: transparent;
}

.notification-error {
    display: none;
    font-size: 0.8rem;
    color: var(--color-8);
    margin-top: 0.5rem;
}

#upload-pool {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
}

.upload-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--color-7);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    max-width: 50%;
    gap: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.upload-item a {
    color: var(--color-4);
    text-decoration: none;
    overflow: hidden;
}

.upload-item .upload-remove {
    color: var(--color-8);
}

.form-field button {
    border: 0;
    outline: 0;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-4);
    color: var(--color-2);
    font-size: 1rem;
    transition: background-color 0.5s ease;
}

.form-field button:hover {
    background: linear-gradient(var(--color-1), var(--color-4));
}

/* ------------- map ------------------- */

#map-title {
    color: var(--color-1);
    margin-bottom: 2rem;
}

#map-container {
    box-shadow: 0 0 10px var(--color-3);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#map-container>iframe {
    width: 100%;
}



#triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44.2vw;
    height: 5vh;
    background: linear-gradient(-45deg, #004aad, #5de0e6);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}