#admin-dashboard-container {
  width: 100%;
  background-color: var(--background-color);
}

#overview-wrapper {
  width: 90%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.overview {
  display: flex;
  width: 95%;
}

/* ------------- overview-1 ---------------- */

#overview1 {
  flex-direction: column;
  margin: 0 0 0 auto;
  gap: 3vh;
}

#overview-content {
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  width: 23.75%;
  height: 23vh;
  color: var(--color-2);
  padding: 1.5rem;
}

.dashboard-card>.qty {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-card>.change {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid;
}

.dashboard-card>.change>p {
  margin: 0;
}

.dashboard-card>div>.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dashboard-card>div>.count>p {
  margin: 0;
}

.dashboard-card>div>.count>i.down {
  color: var(--d-color-1);
}

.dashboard-card>div>.count>i.up {
  color: var(--d-color-2);
}

#patients {
  background-color: var(--d-color-3);
}

#appointments {
  background-color: var(--d-color-4);
}

#clinics {
  background-color: var(--d-color-5);
}

#hospitals {
  background-color: var(--d-color-6);
}

/* ----------------- overview-2 ------------- */
#overview2 {
  justify-content: space-between;
  margin: 3vh 0 0 auto;
  height: 72vh;
}

#overview2 #bar-graph {
  display: flex;
  background-color: var(--color-2);
  width: 63.25%;
  padding: 1rem 1rem 1.5rem;
  height: 100%;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 255, 0.3);
  flex-direction: column;
}

#overview2 #bar-graph h6 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  flex-shrink: 0;
}

#overview2 #province-info {
  background-color: var(--color-2);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 255, 0.3);
  width: 35%;
  height: 100%;
  padding: 1rem 2rem 1.5rem;
}

.chart-container {
  width: 100%;
  padding: 0 1.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stacked-bar-chart {
  height: 95% !important;
  width: 95% !important;
}

#province-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1.5rem;
  flex-shrink: 0;
}

#selection {
  display: flex;
  gap: 0.75rem;
}

#selection>p {
  margin: 0;
  color: var(--color-1);
}

#selection>#province {
  font-size: 0.8rem;
  outline: none;
  border: none;
  padding: 0 0.25rem;
  border-right: 0.25rem solid transparent;
  border-bottom: 1px solid var(--color-1);
}



#btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}

#btn-container>button {
  width: 5vw;
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
  background-color: var(--color-3);
  color: var(--color-2);
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 0.2s ease-in-out;
}

#btn-container>button.clicked {
  background-color: var(--color-4);
  box-shadow: rgba(63, 172, 233, 0.36) 0px 0px 0px 4px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px;
}


#province-info>h6 {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

#sl-map {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sl-map>svg {
  height: 100%;
  width: auto;
}

svg #Sri_Lanka path {
  fill: var(--color-7);
  stroke: var(--color-6);
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s;
  cursor: pointer;
  transition: fill 0.3s, stroke 0.3s;
}

svg #Sri_Lanka path:hover,
svg #Sri_Lanka path.selected {
  fill: var(--color-1);
  stroke: var(--color-2);
}

svg #Sri_Lanka text {
  font-size: 0.8rem;
  fill: var(--color-6);
  pointer-events: none;
  transition: fill 0.3s;
}

svg #Sri_Lanka path:hover+text,
svg #Sri_Lanka path.selected+text {
  fill: var(--color-2);
}


#province-info #info {
  display: flex;
  flex-direction: column;
}

#province-info #info>div {
  display: flex;
  justify-content: space-between;
}

#province-info #info>div>p {
  margin-bottom: 0.5rem;
}

/* -------------------- overview-3 -------------------*/

#overview3 {
  margin: 3vh 0 0 auto;
  justify-content: space-between;
  height: 50vh;
}

#clinic-overview-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-2);
  width: 30%;
  padding: 1rem;
  height: 100%;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 255, 0.3);
}

#clinic-overview-container>h6 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  flex-shrink: 0;
  /* Ensures <h6> doesn't shrink */
}

#pie-chart-container {
  flex-grow: 1;
  /* Takes up remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
}

#pie-chart-wrapper {
  height: 100%;
}

#nationwide-overview-container {
  display: flex;
  flex-direction: column;
  width: 68%;
  background-color: var(--color-2);
  padding: 1rem 1rem 1.5rem;
  height: 100%;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 255, 0.3);
}


#nationwide-overview-container>h6 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  flex-shrink: 0;
}


#area-chart-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#stacked-area-chart-wrapper,
#area-chart-wrapper {
  width: 48%;
  height: 90%;
}